<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NoteContext" connectionString="metadata=res://*/Model.NotesModel.csdl|res://*/Model.NotesModel.ssdl|res://*/Model.NotesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=GitHubExtension;integrated security=True;multipleactiveresultsets=True;connect timeout=15;encrypt=False;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>