<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>{{vmRoles.i18n.USER_LOGIN}}</th>
                                <th>{{vmRoles.i18n.MAIL}}</th>
                                <th>{{vmRoles.i18n.ADD_ROLES}}</th>
                                <th>{{vmRoles.i18n.NOTES}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="collaborator in vmRoles.collaborators">
                                <td>{{collaborator.login}}</td>
                                <td ng-if="collaborator.mail != null">{{collaborator.mail}}</td>
                                <td ng-if="collaborator.mail == null">{{vmRoles.i18n.HIDDEN}}</td>
                                <td>
                                    <select ng-model="vmRoles.roleName[$index]"
                                            ng-options="role.name for role in vmRoles.roles.data"
                                            ng-change="vmRoles.assignRole(collaborator, vmRoles.roleName[$index])">
                                        <option value="">---Please select---</option>
                                    </select>
                                </td>
                                <td>
                                    <form name="noteForm" ng-init="collaborator.note"
                                          ng-submit="noteForm.$valid && vmRoles.createPrivateNote(collaborator)">
                                        <input type="text" name="newNote" ng-model="collaborator.note" required
                                               ng-minlength="5">
                                        <button type="submit" class="btn btn-primary btn-large"
                                                ng-click="noteForm.newNote.$error.minlength
                                            && vmRoles.formError(vmRoles.i18n.NOTE_MIN_LENGTH)">
                                            {{vmRoles.i18n.ADD_NEW_NOTE}}
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
