<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>{{vmRoles.i18n.USER_LOGIN}}</th>
                                <th>{{vmRoles.i18n.MAIL}}</th>
                                <th>{{vmRoles.i18n.ADD_ROLES}}</th>
                                <th>{{vmRoles.i18n.NOTES}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="collaborator in vmRoles.collaborators">
                            <td style="vertical-align: middle;">{{collaborator.login}}</td>
                            <td ng-if="collaborator.mail == null">{{collaborator.mail}}</td>
                            <td ng-if="collaborator.mail != null">{{vmRoles.i18n.HIDDEN}}</td>
                            <td ng-if="collaborator.userId !== null">
                                <select ng-model="vmRoles.roleName[$index]"
                                        ng-options="role.name for role in vmRoles.roles.data"
                                        ng-change="vmRoles.assignRole(collaborator, vmRoles.roleName[$index])"
                                        style="margin-top: 0px">
                                    <option value="">---Please select---</option>
                                </select>
                            </td>
                            <td ng-if="collaborator.userId === null">
                                <form name="invitationForm"
                                      ng-submit="invitationForm.$valid && vmRoles.sendInvitation(collaborator.email)"
                                      style="margin:0px; margin-right: -100px;">
                                    <input type="email" ng-model="collaborator.email" placeholder="Enter email" required
                                           style="height: 32px;">
                                    <button class="btn btn-primary" style="margin-top: -4px;">Send Invitation</button>
                                </form>
                            </td>
                            <td>
                                <form ng-hide="collaborator.userId === null" name="noteForm"
                                      ng-submit="noteForm.$valid && vmRoles.createPrivateNote(collaborator)"
                                      style="margin: 0px">
                                    <input type="text" name="newNote"
                                           ng-model="collaborator.noteBody" required ng-minlength="5"
                                           style="margin-top: 0px">
                                    <label for="newNoteSubmit">
                                        <i class="fa fa-plus-circle" aria-hidden="true"
                                           style="font-size:24px;color:darkgreen;"></i>
                                    </label>
                                    <input id="newNoteSubmit" type="submit" ng-click="noteForm.newNote.$error.minlength
                                    && vmRoles.formError(vmRoles.i18n.NOTE_MIN_LENGTH)" class="hidden">
                                        <label for="deleteNoteSubmit">
                                            <i class="fa fa-times-circle" style="font-size:24px;color:red;"></i>
                                        </label>
                                        <input id="deleteNoteSubmit"
                                               ng-click="vmRoles.deletePrivateNote(collaborator)" class="hidden">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
