<nav class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li ng-repeat="r in vm.navRoutes">
                    <a ui-sref="{{r.name}}"
                       ng-bind-html="r.settings.content">
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-show="vm.user.isAuthenticated()"><a style="cursor:default">Your current repository:</a></li>
                <li data-ng-show="vm.user.isAuthenticated()">
                    <div class="panel-heading">
                        <select
                            ng-model="vm.repo"
                            ng-options="repo as repo.name for repo in vm.user.getRepositoryList()"
                            ng-change="vm.user.setCurrentRepository(vm.repo)">
                        </select>
                    </div>
                </li>
                <li data-ng-show="vm.user.isAuthenticated()"><a>{{vm.i18n.WELCOME}} {{vm.user.userName()}}!</a></li>
                <li data-ng-hide="vm.user.isAuthenticated()"><a href="" data-ng-click="vm.user.login()"><span class="glyphicon glyphicon-log-in"></span> {{vm.i18n.LOGIN}}</a></li>
                <li data-ng-show="vm.user.isAuthenticated()"><a href="" data-ng-click="vm.user.logout()"><span class="glyphicon glyphicon-log-out"></span> {{vm.i18n.LOGOUT}}</a></li>
            </ul>
        </div>
    </div>
</div>
</nav>
