<nav class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">GitHubExtension</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li ng-repeat="r in vm.navRoutes">
                    <a ui-sref="{{r.name}}"
                       ng-bind-html="r.settings.content">
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-show="vm.user.isAuthenticated()"><a>Welcome {{vm.user.userName()}}</a></li>
                <li data-ng-hide="vm.user.isAuthenticated()"><a href="" data-ng-click="vm.user.login()">Login</a></li>
                <li data-ng-show="vm.user.isAuthenticated()"><a href="" data-ng-click="vm.user.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
</nav>
