<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TemplatesContext" connectionString="metadata=res://*/Model.TemplateModel.csdl|res://*/Model.TemplateModel.ssdl|res://*/Model.TemplateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=GitHubExtension;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>