<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container" ng-show="vmSearch.user.isAuthenticated()">
            <h3>{{vmSearch.i18n.SEARCH}}</h3>
            <form name="searchForm" ng-submit="searchForm.$valid && vmSearch.searchUsers(vmSearch.searchName)">
                <input type="text" ng-model="vmSearch.searchName" name="searchName" required ng-minlength="1">
                <button type="submit" class="btn btn-info">
                    {{vmSearch.i18n.SEARCH}}
                </button>
            </form>
            <div class="row" ng-show="!!vmSearch.users">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{vmSearch.i18n.USER_LOGIN}}</th>
                            <th>{{vmSearch.i18n.MAIL}}</th>
                            <th>{{vmSearch.i18n.GITHUB_PROFILE}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in vmSearch.users">
                            <td>{{user.userName}}</td>
                            <td>{{user.email || vmSearch.i18n.HIDDEN}}</td>
                            <td><a style="color: cornflowerblue;" href="{{vmSearch.GitHubUrl}}{{user.userName}}" >{{vmSearch.i18n.VIEW_PROFILE}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h4 ng-show="!vmSearch.users && vmSearch.isSearch">{{vmSearch.i18n.USERS_NOT_FOUND}}</h4>
        </div>
    </section>
</section>
