<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GitHubExtensionEntities" connectionString="metadata=res://*/Model.PreferencesModel.csdl|res://*/Model.PreferencesModel.ssdl|res://*/Model.PreferencesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=GitHubExtension;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>