<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>Show pullRequestTemplate</h3>
                        <button ng-click="vmTemplates.prtoggle()">Show pullRequestTemplate</button>
                        <p ng-show="vmTemplates.prVar">{{vmTemplates.pullRequestTemplate}}</p>
                    </div>
                    <div>
                        <h3>Show issueTemplate</h3>
                        <button ng-click="vmTemplates.itoggle()">Show issueTemplate</button>
                        <p ng-show="vmTemplates.iVar">{{vmTemplates.issueTemplate}}</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
